@{
    ViewData["Title"] = "Home Page";
}

<section>
    <input type="button" id="startButton" value="Start Game" />
    <table id="gameTable">
        <tr class="tableRow" id="7">
            <td class="rowName">8</td>
            <td class="tableColumn" id="70"></td>
            <td class="tableColumn colored" id="71"></td>
            <td class="tableColumn" id="72"></td>
            <td class="tableColumn colored" id="73"></td>
            <td class="tableColumn" id="74"></td>
            <td class="tableColumn colored" id="75"></td>
            <td class="tableColumn" id="76"></td>
            <td class="tableColumn colored" id="77"></td>
        </tr>
        <tr class="tableRow" id="6">
            <td class="rowName">7</td>
            <td class="tableColumn colored" id="60"></td>
            <td class="tableColumn" id="61"></td>
            <td class="tableColumn colored" id="62"></td>
            <td class="tableColumn" id="63"></td>
            <td class="tableColumn colored" id="64"></td>
            <td class="tableColumn" id="65"></td>
            <td class="tableColumn colored" id="66"></td>
            <td class="tableColumn" id="67"></td>
        </tr>
        <tr class="tableRow" id="5">
            <td class="rowName">6</td>
            <td class="tableColumn" id="50"></td>
            <td class="tableColumn colored" id="51"></td>
            <td class="tableColumn" id="52"></td>
            <td class="tableColumn colored" id="53"></td>
            <td class="tableColumn" id="54"></td>
            <td class="tableColumn colored" id="55"></td>
            <td class="tableColumn" id="56"></td>
            <td class="tableColumn colored" id="57"></td>
        </tr>
        <tr class="tableRow" id="4">
            <td class="rowName">5</td>
            <td class="tableColumn colored" id="40"></td>
            <td class="tableColumn" id="41"></td>
            <td class="tableColumn colored" id="42"></td>
            <td class="tableColumn" id="43"></td>
            <td class="tableColumn colored" id="44"></td>
            <td class="tableColumn" id="45"></td>
            <td class="tableColumn colored" id="46"></td>
            <td class="tableColumn" id="47"></td>
        </tr>
        <tr class="tableRow" id="3">
            <td class="rowName">4</td>
            <td class="tableColumn" id="30"></td>
            <td class="tableColumn colored" id="31"></td>
            <td class="tableColumn" id="32"></td>
            <td class="tableColumn colored" id="33"></td>
            <td class="tableColumn" id="34"></td>
            <td class="tableColumn colored" id="35"></td>
            <td class="tableColumn" id="36"></td>
            <td class="tableColumn colored" id="37"></td>
        </tr>
        <tr class="tableRow" id="2">
            <td class="rowName">3</td>
            <td class="tableColumn colored" id="20"></td>
            <td class="tableColumn" id="21"></td>
            <td class="tableColumn colored" id="22"></td>
            <td class="tableColumn" id="23"></td>
            <td class="tableColumn colored" id="24"></td>
            <td class="tableColumn" id="25"></td>
            <td class="tableColumn colored" id="26"></td>
            <td class="tableColumn" id="27"></td>
        </tr>
        <tr class="tableRow" id="1">
            <td class="rowName">2</td>
            <td class="tableColumn" id="10"></td>
            <td class="tableColumn colored" id="11"></td>
            <td class="tableColumn" id="12"></td>
            <td class="tableColumn colored" id="13"></td>
            <td class="tableColumn" id="14"></td>
            <td class="tableColumn colored" id="15"></td>
            <td class="tableColumn" id="16"></td>
            <td class="tableColumn colored" id="17"></td>
        </tr>
        <tr class="tableRow" id="0">
            <td class="rowName">1</td>
            <td class="tableColumn colored" id="00"></td>
            <td class="tableColumn" id="01"></td>
            <td class="tableColumn colored" id="02"></td>
            <td class="tableColumn" id="03"></td>
            <td class="tableColumn colored" id="04"></td>
            <td class="tableColumn" id="05"></td>
            <td class="tableColumn colored" id="06"></td>
            <td class="tableColumn" id="07"></td>
        </tr>
        <tr class="tableRow">
            <td class="rowName"></td>
            <td class="columnName">A</td>
            <td class="columnName">B</td>
            <td class="columnName">C</td>
            <td class="columnName">D</td>
            <td class="columnName">E</td>
            <td class="columnName">F</td>
            <td class="columnName">G</td>
            <td class="columnName">H</td>
        </tr>
    </table>
</section>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>
}
